<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Admin</span>
    <span class="example-spacer"></span>

    <div class="flex-container">
   <ul>

       <li>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
    
       </li>


       <li>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <mat-icon>settings</mat-icon>
            </button>
       </li>


        <li>
            <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon >person</mat-icon>
              </button>
              <mat-menu  #menu="matMenu">
                <button  mat-menu-item> <mat-icon>logout</mat-icon> LOG OUT</button>
              </mat-menu>
        </li>
   </ul>
</div>
  </mat-toolbar>
