<div class="profile">
    <img src="https://www.vhv.rs/dpng/d/475-4756235_thumb-image-doctors-png-transparent-png.png" alt="no img">
    <h3>Parco</h3>
    <h4>parco@gmail.com</h4>
</div>

<mat-divider></mat-divider>
<!-- <h2>Pages</h2> -->
<div class="pages">
    <a routerLink="">Dashboard</a>
    <a routerLink="doctors"><mat-icon>person</mat-icon>Doctor</a>
    <a routerLink="patients"><mat-icon>groups</mat-icon>Patients</a>
    <a routerLink="payments"><mat-icon>payment</mat-icon>Payment</a>
    <a routerLink="contact"><mat-icon>contacts</mat-icon>Contact</a>
    <a routerLink="appointments"><mat-icon>assignment</mat-icon>Appointments</a>
</div>