
<!-- card -->

<div class="card">

    <!-- card 1 -->
    <mat-card> 
        <app-card
        bg="green"
        icon="groups"
        description="Todays patients"
        count="280"> </app-card>
      </mat-card>   
      
      <!-- card 2 -->
      <mat-card>
         <app-card
         bg="blue"
         icon="event_available"
         description="Appointments"
         count="150">
         </app-card>
      </mat-card> 

      <!-- card 3 -->
      <mat-card> 
        <app-card
        bg="red"
        icon="content_cut"
        description="Todays operation"
        count="50">
     </app-card>
      </mat-card> 

      <!-- card 4 -->
      <mat-card>
         <app-card 
         bg="yellow"
         icon="assignment"
         description="online appointment"
         count="42">
         </app-card>
      </mat-card> 
</div>





<!-- area -->



<div class="area">
    <app-area> </app-area>
</div>

<div class="pie-line">
    
    <!-- piechart -->
    
    
    <div>
        <app-pie-chart></app-pie-chart>
    </div>
    
    
    
    <!-- line chart -->
    
    
    <div>
        <app-line-chart></app-line-chart>
    </div>
</div>